<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dengyuheng.ecommerce.mapper.SystemUserMapper">

    <sql id="Base_Column_List">
        id,
        tenant_id,
        username,
        password,
        nickname,
        email,
        phone,
        avatar,
        is_enabled,
        last_login_time,
        created_at,
        updated_at
    </sql>

    <select id="findByUsername" parameterType="String" resultType="SystemUser">
        SELECT 
           <include refid="Base_Column_List" />
        FROM system_user
        WHERE username = #{username}
    </select>
    <select id="getUserInfoById" parameterType="Long" resultType="map">
        SELECT 
            u.id,
            u.tenant_id,
            u.username,
            u.nickname,
            u.email,
            u.phone,
            u.avatar,
            u.is_enabled,
            u.last_login_time,
            u.created_at,
            u.updated_at,
            GROUP_CONCAT(DISTINCT r.name) as role_names,
            GROUP_CONCAT(DISTINCT r.code) as role_codes,
            GROUP_CONCAT(DISTINCT r.id) as role_ids
        FROM system_user u
        LEFT JOIN system_user_role ur ON u.id = ur.user_id
        LEFT JOIN system_role r ON ur.role_id = r.id
        WHERE u.id = #{id}
        GROUP BY u.id
    </select>
    <insert id="insertSystemUser" parameterType="SystemUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO system_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username,
            password,
            <if test="nickname != null">nickname,</if>
            <if test="email != null">email,</if>
            <if test="phone != null">phone,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{username},
            #{password},
            <if test="nickname != null">#{nickname},</if>
            <if test="email != null">#{email},</if>
            <if test="phone != null">#{phone},</if>
        </trim>
    </insert>
    <select id="getUserMenuByUserId" parameterType="Long" resultType="SystemMenu">
        SELECT DISTINCT m.* FROM system_menu m WHERE EXISTS
            (SELECT 1 FROM system_role_menu rm 
            INNER JOIN system_user_role ur ON rm.role_id=ur.role_id
            WHERE rm.menu_id=m.id 
            and ur.user_id=#{userId}
            ) ORDER BY m.sort ASC;
    </select>
</mapper>