<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.dengyuheng.ecommerce.mapper.SystemRoleMapper">
    <select id="findIdByCode" parameterType="String" resultType="java.lang.Long">
        SELECT  id FROM system_role WHERE code = #{code} AND tenant_id=1
    </select>
</mapper>